@font-face {
  font-family: Futurice;
  src: url(./fonts/Futurice_Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: Futurice;
  src: url(./fonts/Futurice_Bold.otf);
  font-weight: bold;
}

body{
  background-color: #29266e;
  color:#fff;
  font-size:16px;
  font-family: 'Futurice';
}

.header{
  margin-top:70px;
  background-color: #29266e;
  font-size: 48px;
  padding:100px 0px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
}



.svgContainer{
  display: flex;
}

.polyLines{
  fill:none;
  stroke-width:1;
}

svg{
  margin:auto;
}

.headerText{
  font-size: 18px;
  fill:white;
  text-anchor: middle;
}

.boxes{
  fill:white;
}

.labelText{
  font-size: 20px;
  fill:white;
  opacity: 0.6;

}